<% if logged_in? %>


<h1> <%= current_user.name %> </h1>

<%# Va magnifiquement afficher le nom de l'utilisateur au centre de la page. Easy %>

<h2> Tu y es presque. Encore une étape pour découvrir la réponse de l'univers </h2>

<p> * Cette section est disponible au membres uniquement * </p>

<p> <%= link_to "Viens chercher bonheur !", answer_path, class: "btn btn-danger"%> </p>


<% else %>



  </br>
</br>

<h1> Coucou toi </h1>

<h2> T'as déjà un compte? </h2>
<p> Non? T'attends quoi ? </p>

<p> <%= link_to "Se connecter", login_path, class: "btn btn-danger" %> </p>

<p> <%= link_to "Créer un compte", new_user_path, class: "btn btn-danger" %> </p>



<% end %>