<h1> Edit </h1>

<%= form_tag user_path(@user), method: :put do %>
 
<%= render 'form' %>
 
<div class="row">
  <div class="col-md-6 col-md-offset-3"> 
	<%= submit_tag "Editer", class: "btn btn-danger" %>
  </div>
</div>

<% end %>

 <p> <%= link_to "supprimer le compte", user_path(@user),
              method: :delete,
              data: { confirm: 'Fais pas le con, pose cette souris ! Tu vas pas te supprimer comme ça quand même?' } %> </p>