<div class="center jumbotron">
	<h1>Welcome to Members Only</h1>
	<h2>Below you can read posts that were created by registered users.</h2>
	<h2>To discover who the author is of each post, sign up by clicking 	on the signup button below.</h2>
	<div class="centered">
		<br>
		<%= link_to "Signup", new_user_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>